@import "compass/css3"
@import "_animate"

@import "_vars"

.clear
	clear: both

h1, h2, h3
	font:
		family: $head_font
		weight: $head_weight
		size: 4em
	line-height: 1em

h2
	font:
		size: 2.5em
	line-height: 1.25em
	@media screen and (max-width: 1435px) 
		font-size: 2.35em
	@media screen and (max-width: 1325px) 
		font-size: 2.2em
	@media screen and (max-width: 1250px) 
		font-size: 2.1em

h3
	font:
		size: 1.25em
	line-height: 1em

a
	color: $white
	text-decoration: none
	@include transition(all .5s 0s ease-in-out)
	cursor: pointer

.button
	display: inline-block
	cursor: pointer
	border: 3px solid $white
	padding: $margin / 1.5 $margin * 1.3
	font-size: 1.15em
	color: $white
	@include border-radius(5px)
	@include transition(all .5s 0s ease-in-out)
	background-color: rgba(0,0,0,0.1)
	&:hover
		background-color: rgba(0,0,0,0.15)
		color: $white
	&:active
		background-color: rgba(0,0,0,0.3)
		color: $white

.splitfix
	white-space: nowrap

html
	@include font-smoothing 
	background-color: $blue
	color: $white
	&[data-waypoint='1'] body
		background-color: $blue
	&[data-waypoint='2'] body
		background-color: $lightBlue
	&[data-waypoint='3'] body
		background-color: $purple
	&[data-waypoint='4'] body
		background-color: $pink
	&[data-waypoint='5'] body
		background-color: $lightRed
		section.product .terms .product .price_tag, section.product .contract .product .price_tag
			color: darken($lightRed, 7%) 
			border-color: rgba(darken($lightRed, 7%), 0.9)
	&[data-waypoint='6'] body
		background-color: $lightGreen

body
	font:
		family: $body_font
		size: $font_size 
	line-height: 1.5em
	color: $white
	background-color: $blue
	@include transition(all .5s 0s ease-in-out)

header, section
	margin-bottom: 1000px
	@include transition(all .5s 0s ease-in-out)

.container
	width: 90%
	min-width: 1000px
	margin: auto

.page_menu
	position: fixed
	z-index: 11
	top: 35%
	right: 15px
	padding: 0 10px 0 0
	@include transition(all .3s 0s linear)

.page_menu ul
	list-style: none
	margin: 0
	padding: 0

.page_menu ul li
	margin: 0
	padding: 10px 0 10px 15px
	cursor: pointer

.page_menu ul li a,
.page_menu ul li a:visited
	width: 8px
	height: 8px
	display: block
	text-decoration: none
	@include border-radius(50%)
	@include transition(background-color .1s linear, border-color .1s linear)
	background-color: transparent
	border: 2px solid $white

.page_menu ul li.active a
	background-color: $white

.nav-title
	position: absolute
	right: 10px
	opacity: 0
	font-size: 13px
	text-transform: uppercase
	white-space: nowrap
	font:
		family: $head_font
		weight: $head_weight
	font-style: normal
	text-decoration: none
	margin-top: -11px
	padding: 0 0 5px 0
	@include transition(all .3s 0 cubic-bezier(.23, 1, .32, 1))
	line-height: 32px
	visibility: hidden

.page_menu li:hover span.nav-title
	right: 20px
	opacity: 1
	z-index: 10
	padding-right: 15px
	visibility: visible

.top_menu
	background-color: $white
	position: relative
	left: 0
	right: 0
	top: 0
	ul li a
		color: $blue
		padding: $margin / 2 $margin
		display: inline-block
		font-size: 0.75em

header
	h1
		margin-bottom: $margin * 4
		text-align: center
	.headerVisual
		display: inline-block
		width: 40%
		margin: 0 4% 0 16%
		float: left
		position: relative
		.contract, .terms, .pen
			position: absolute
			left: 0
			top: 0
			margin-top: 2%
			display: block
			width: 40%
			height: 0
			padding-top: 48%
			overflow: hidden
			@include svg-bg('../images/headerContract')
			background:
				repeat: no-repeat
				size: contain
			@include transition(all 0.2s 0 ease-in-out)
		.terms
			@include svg-bg('../images/headerAV')
			left: 37%
			margin-top: 0
		.pen
			@include svg-bg('../images/pen')
			width: 6%
			padding-top: 23%
			margin-top: 20%
			left: 80%
	.slogan
		display: inline-block
		width: 30%
		margin: 3% 16% 0 4%
		float: right
		h2
			margin-bottom: $margin * 3
			font:
				weight: 400
			@media screen and (max-width: 1150px) 
				font-size: 2em
		.button
			margin-right: $margin

section.explanation
	h2
		text-align: center
		margin-bottom: $margin * 4
	ol
		li
			width: 20%
			min-width: 136px
			margin: 0 6%
			float: left
			color: #FFFEFF
			text-align: center
			div.image
				background:
					repeat: no-repeat
					position: center bottom
				padding-top: 205px
				width: 136px
				margin: auto auto $margin * 2 auto
				@include transition(all .8s 0s ease-in-out)
		li.questions 
			div.image
				@include svg-bg('../images/checklist')
		li.lawyer 
			min-width: 231px
			div.image
				@include svg-bg('../images/jurist')
				width: 231px
		li.done 
			div.image
				@include svg-bg('../images/klaar')

section.information
	div.content
		width: 49%
		float: left
		margin-left: 9%
		margin-top: $margin * 2
		h2
			margin-bottom: $margin * 2
		p
			width: 90%
	div.lawyer
		float: right
		background:
			repeat: no-repeat
			position: top right
		@include background-image-retina("../images/advocaat", "png", 275px, 314px)
		padding-top: 314px
		height: 0
		overflow: hidden
		width: 20%
		min-width: 275px
		margin-right: 14%

section.product
	h2
		padding-top: $margin * 4 // This is a hack
		text-align: center
		padding-bottom: $margin * 2
	h3
		margin-top: $margin * 2
	.terms, .contract
		float: left
		width: 33%
		margin: 0 4% 0 12%
		text-align: center
		.product
			@include transition(all 0.2s 0s ease-in-out)
			@include svg-bg('../images/contract', $position: top left)
			background:
				repeat: no-repeat
			padding-top: 290px
			width: 236px
			position: relative
			margin: auto
			.price_tag
				position: absolute
				right: -30px
				bottom: -30px
				@include border-radius(50%)
				width: 75px
				line-height: 75px
				text-align: center
				color: darken($pink, 20%) 
				border: 6px solid rgba(darken($pink, 20%), 0.9)
				background-color: $white
				background-color: rgba($white, 0.9)
				@include transition(all 0.2s 0s ease-in-out)
				@include box-shadow(rgba($darkBlue, 0.3) 2px 2px 0px 0px) 
				font:
					family: $head_font
					weight: $head_weight
					size: 1.5em
		h3
			margin-top: $margin * 4
			margin-bottom: $margin
		p
			min-height: 50px
			@media screen and (max-width: 1900px) 
				min-height: 80px
			@media screen and (max-width: 1325px) 
				min-height: 90px
			@media screen and (max-width: 1290px) 
				min-height: 100px
		.button
			margin-top: $margin * 2
	.terms
		margin: 0 12% 0 4%
		.product
			@include svg-bg('../images/terms')

section.testimonial
	blockquote
		margin:
			left: auto
			right: auto
			bottom: $margin * 8
		font-family: $head_font
		text-align: center
		width: 80%
		p
			display: block 
			text-align: center
			font:
				style: italic
				size: 2.25em
			line-height: 1.25em
		footer
			padding-top: $margin
			font-size: 1em

section.contact
	h2
		text-align: center
		margin-bottom: $margin * 2
	.mail
		width: 80%
		margin: auto
		text-align: center
		img
			width: 300px
		h3
			margin-top: $margin * 2
			margin-bottom: $margin
			line-height: 1.5em
			a.button
				display: inline-block

section.onze-voorwaarden
	width: 750px
	padding: $margin * 4 
	margin: $margin * 4 auto auto auto
	font-size: 0.9em
	line-height: 1.6em
	background-color: $white
	color: darken($purple, 20%)
	position: relative
	&:before
		display: block
		position: absolute
		top: -21px
		left: 0
		content: ""
		width: 100%
		height: 0
		overflow: hidden
		padding-top: 21px
		background:
			image: url('../images/docs-top.png')
			repeat: no-repeat
			size: 100% 100%

	h1
		padding-top: $margin
		font-size: 2em
		text-align: center
		margin-bottom: $margin 
	h2
		margin-top: $margin * 2
		font-size: 1.6em
	small
		font-weight: bold
		margin-bottom: $margin
		display: block
		text-align: left
	ol
		list-style: decimal
		padding-left: 30px
	p
		margin-bottom: $margin

div.order_form
	width: 750px
	padding: $margin * 4 
	margin: $margin * 4 auto auto -375px - ($margin * 4)
	font-size: 0.9em
	line-height: 1.6em
	position: fixed
	bottom: 0
	top: 100%
	left: 50%
	background-color: $white
	color: darken($purple, 20%)
	@include transition(all .5s 0s ease-in-out)
	&.active
		top: 25px
	&:before
		display: block
		position: absolute
		top: -21px
		left: 0
		content: ""
		width: 100%
		height: 0
		overflow: hidden
		padding-top: 21px
		background:
			image: url('../images/docs-top.png')
			repeat: no-repeat
			size: 100% 100%

	h1
		padding-top: $margin
		font-size: 2em
		text-align: center
		margin-bottom: $margin 
	h2
		margin-top: $margin * 2
		font-size: 1.6em
	small
		font-weight: bold
		margin-bottom: $margin
		display: block
		text-align: left
	ol
		list-style: decimal
		padding-left: 30px
	p
		margin-bottom: $margin

footer
	width: 450px
	margin: auto
	font-size: 0.6em
	padding-bottom: $margin
	line-height: 1.4em
	small
		display: inline-block
		border-right: 1px solid $white
		float: left
		margin-right: $margin
		padding-right: $margin
	nav
		float: left
		padding: 0
		li
			padding: 0
			float: left

html.no-touch
	header
		.headerVisual
			.contract
				&:hover
					@include transform3d(translate(-10px, -20px))
			.terms
				&:hover
					@include transform3d(translate(10px, -20px))
			.pen
				&:hover
					+animate(shakeItBaby, .3s, 0, ease-in-out)
	section.explanation ol li:hover div.image
		+animate(tada, 0.6s, 0)
	section.product
		.terms, .contract
			&:hover
				.product
					@include rotate(5deg)