@import "compass/css3"
@import "_animate"

@import "_vars"
$margin: 10px

h1, h2, h3
	font:
		size: 2.3em
	line-height: 1em

h2
	font:
		size: 1.6em
	line-height: 1.25em

h3
	font:
		size: 1.2em
	line-height: 1em

.button
	font-size: 1.05em
	padding: $margin * 0.8 $margin

.container
	min-width: inherit
	width: 80%
	&.mobile
		width: 100%

.mobile_clear
	clear: both
	float: none

body
	font-size: 15px

.page_menu
	display: none

.top_menu
	background-color: $blue
	ul li a
		display: block
		text-align: center
		color: $white
		// padding: $margin / 2 $margin
		// display: inline-block
		font-size: 1em

header
	h1
		padding-top: $margin * 2
	.headerVisual
		width: 60%
		margin: auto
		float: none
		display: block
		padding-top: 30%
	.slogan
		display: block
		width: 90%
		margin-top: $margin * 2
		float: none
		text-align: center
		h2
			margin-bottom: $margin * 2
		a.button
			margin-right: 0
		a.moreInfo
			display: block
			padding: $margin

section.explanation
	h2
		padding-top: $margin * 4 
	ol 
		li
			float: none
			width: 90%
			margin: 0 0 $margin * 2 0
			text-align: left 
			div.image
				display: inline-block
				padding-top: 50px
				width: 75px
				background-size: contain
				margin: auto $margin * 2 auto auto
				float: left
			span
				font-size: 0.9em
		li.lawyer 
			min-width: 75px
			div.image
				width: 75px

section.information
	div.content
		width: 100%
		float: none
		margin: $margin * 2 auto auto auto
		h2
			width: 100%
	.lawyer
		display: none

section.product
	.terms, .contract
		float: none
		width: 90%
		margin: auto
		padding-bottom: $margin * 4
		margin-bottom: $margin * 4
		.product
			padding-top: 200px
			width: 163px
			background-size: cover 
			.price_tag
				position: absolute
				@include border-radius(50%)
				width: 40px
				line-height: 40px
				right: -10px
				bottom: -10px
				font-size: 0.9em
				border-width: 3px
		p
			min-height: 70px
		h3
			margin-top: $margin * 2
	.terms
		border-bottom: 1px solid $white

section.testimonial blockquote 
	margin-bottom: $margin * 4
	p
		font-size: 1.5em

section.contact
	width: 90%
	margin: auto 
	.mail
		img
			width: 50%
		h3
			font-size: 1.1em
		.button
			font-size: .8em
			text-overflow: ellipsis

section.onze-voorwaarden
	width: auto
	margin: 0
	padding: $margin * 2 
	&:before
		display: none

div.order_form
	width: 100%
	padding: $margin * 2 0
	margin: $margin * 2 0 0 0
	left: 0
	right: 0
	&:before
		display: none
	&.active
		top: 0
	.inner_box
		margin: 0 $margin
	form
		.form_message
			text-align: center
			@include border-radius(5px)
			padding: $margin / 2
			min-width: 60%
			margin: $margin * 2 auto auto auto
			&.alert
				color: $lightRed
				border: 3px solid $lightRed
		.products
			margin-top: $margin * 2
			margin-bottom: $margin * 4
			text-align: center
			label.contract, label.terms
				@include svg-bg('../images/bestelContract')
				background-size: cover
				width: 75px
				padding-top: 92px
				.price_tag
					right: -15px
					bottom: -15px
					width: 30px
					line-height: 30px
					font-size: 0.9em
					border-width: 3px
		.field
			width: 90%
			float: none
			margin-left: auto
			margin-right: auto
			input
				padding: 2% 4%
				border: 0
				outline: none
				font-size: 1em
				color: $white
				@include border-radius(25px)
				background-color: $pink
				box-shadow: 1px 1px 2px inset rgba(0,0,0,0.15)
		.buttons
			text-align: center
			margin-bottom: $margin * 2
			input.button
				font:
					family: $body_font
				border-color: $pink
				color: darken($pink, 20%)
				background-color: $white


footer
	width: 100%
	small
		float: none
		display: block
		border-right: 0
	nav
		margin-top: $margin
		float: none
		li
			float: none