@import url("http://fonts.googleapis.com/css?family=Ubuntu");
/* line 7, ../sass/main.sass */
.clear {
  clear: both;
}

/* line 10, ../sass/main.sass */
body {
  background: #4fc1e9;
  font-family: Ubuntu;
  font-size: 48px;
  color: #fffefe;
}

/* line 18, ../sass/main.sass */
h1 {
  font-size: 48px;
}

/* line 22, ../sass/main.sass */
h2 {
  font-size: 36px;
  line-height: 60px;
}

/* line 28, ../sass/main.sass */
h3 {
  font-size: 20px;
  color: #fffefe;
  line-height: 25px;
  text-align: center;
}

/* line 35, ../sass/main.sass */
p {
  font-family: Helvetica;
  font-size: 20px;
  color: #fffeff;
  line-height: 30px;
}

/* line 42, ../sass/main.sass */
a {
  font-size: 20px;
  color: #fffeff;
  line-height: 30px;
  text-decoration: none;
}
/* line 48, ../sass/main.sass */
a.button {
  border: 3px solid #fffefe;
  padding: 10px 20px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}

/* line 56, ../sass/main.sass */
.container {
  width: 1020px;
  margin: auto;
}

/* line 61, ../sass/main.sass */
header {
  margin-top: 30px;
}
/* line 63, ../sass/main.sass */
header h1 {
  margin-bottom: 105px;
  text-align: center;
}
/* line 67, ../sass/main.sass */
header .headerVisual {
  float: left;
  width: 582px;
}
/* line 70, ../sass/main.sass */
header .slogan {
  float: right;
  width: 380px;
}

/* line 76, ../sass/main.sass */
.explanation {
  margin-top: 200px;
}
/* line 78, ../sass/main.sass */
.explanation h2 {
  text-align: center;
  margin-bottom: 30px;
}
/* line 82, ../sass/main.sass */
.explanation ol li.questions {
  padding-top: 215px;
  height: 300px;
  width: 340px;
  float: left;
  font-size: 20px;
  color: #fffeff;
  line-height: 30px;
  text-align: center;
  height: 300px;
  width: 340px;
  background-image: url("../images/checklist.png");
  background-repeat: no-repeat;
  background-position: center 30px;
}
/* line 98, ../sass/main.sass */
.explanation ol li.lawyer {
  padding-top: 215px;
  height: 300px;
  width: 340px;
  float: left;
  font-size: 20px;
  color: #fffeff;
  line-height: 30px;
  text-align: center;
  height: 300px;
  width: 340px;
  background-image: url("../images/jurist.png");
  background-repeat: no-repeat;
  background-position: top center;
}
/* line 114, ../sass/main.sass */
.explanation ol li.done {
  padding-top: 215px;
  height: 300px;
  width: 340px;
  float: left;
  font-size: 20px;
  color: #fffeff;
  line-height: 30px;
  text-align: center;
  height: 300px;
  width: 340px;
  background-image: url("../images/klaar.png");
  background-repeat: no-repeat;
  background-position: center 30px;
}

/* line 133, ../sass/main.sass */
section.information div.content {
  width: 593px;
  float: left;
}
/* line 136, ../sass/main.sass */
section.information div.lawyer {
  float: right;
  background-image: url("../images/Advocaat.png");
  background-repeat: no-repeat;
  background-position: top right;
  padding-top: 314px;
  height: 0;
  overflow: hidden;
  width: 275px;
}

/* line 148, ../sass/main.sass */
.product {
  margin-top: 215px;
  text-align: center;
}
/* line 151, ../sass/main.sass */
.product h2 {
  text-align: center;
  padding-bottom: 30px;
}
/* line 154, ../sass/main.sass */
.product h3 {
  margin-top: 30px;
  font-family: Ubuntu;
}
/* line 157, ../sass/main.sass */
.product .terms, .product .contract {
  float: left;
  padding-top: 305px;
  width: 490px;
  height: 450px;
  background-image: url("../images/terms.png");
  background-repeat: no-repeat;
  background-position: top center;
}
/* line 168, ../sass/main.sass */
.product .terms p a, .product .contract p a {
  margin-top: 45px;
}
/* line 170, ../sass/main.sass */
.product .contract {
  float: right;
  background-image: url("../images/contract.png");
}

/* line 179, ../sass/main.sass */
.testimonial blockquote {
  text-align: center;
}
/* line 181, ../sass/main.sass */
.testimonial blockquote p {
  display: block;
  text-align: center;
  font-family: "Ubuntu-Italic";
  font-size: 35px;
  line-height: 63px;
}
/* line 188, ../sass/main.sass */
.testimonial blockquote footer {
  padding-top: 20px;
  font-size: 20px;
}

/* line 192, ../sass/main.sass */
.contact {
  margin-top: 215px;
  text-align: center;
}
/* line 195, ../sass/main.sass */
.contact h2 {
  text-align: center;
  padding-bottom: 30px;
}
/* line 198, ../sass/main.sass */
.contact .mail, .contact .phone {
  width: 490px;
  padding-top: 100px;
  height: 200px;
}
/* line 202, ../sass/main.sass */
.contact .mail h2, .contact .phone h2 {
  text-align: center;
  padding-bottom: 30px;
}
/* line 205, ../sass/main.sass */
.contact .mail h3, .contact .phone h3 {
  margin-top: 30px;
  font-family: Ubuntu;
}
/* line 208, ../sass/main.sass */
.contact .mail {
  float: left;
  background-image: url("../images/mail@2x.png");
  background-repeat: no-repeat;
  background-position: top center;
}
/* line 215, ../sass/main.sass */
.contact .phone {
  float: right;
  background-image: url("../images/phone@2x.png");
  background-repeat: no-repeat;
  background-position: top center;
}
